.mainSection{
    width: 50%;
    height: 40rem;
    background-color: bisque;
    position: relative;
    margin: 5% 25%;
    
    align-items:center;
    padding: 0 1rem;
    border-radius: 3rem;
}

.programName{
    background-color:tomato;
    border-radius: 3rem;
    height: 2.5rem;
    width: 35rem;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 0;
}



#message{
    position: relative;
    top: 15rem;
    text-align: center;
    margin: auto 8rem;
    margin-right: 20rem;
    color:black;
}

button{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 5rem;
    position:absolute;
    text-align: center;
    margin: 1rem  38%;
    top: auto;
    bottom: 1rem;
}